<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to CookBook</h1>
    <ul>
      <% if (food && food.length > 0) { %>
        <% food.forEach((item) => { %> <!-- Loop over each food item -->
            <li><%= item.name %> - Calories: <%= item.calories %>, Expiration: <%= item.expirationDate.toDateString() %></li>
        <% }) %>
      <% } else { %>
        <li>No food items found.</li>
      <% } %>
    </ul>
  </body>  
</html>
