<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Food</title>
  </head>
  <body>
    <h1>Create a New Food!</h1>
    <form action="/users/:userId/foods" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    
    
        <button type="submit">Add Food</button>
      </form>
  </body>
</html>